pytest
pytest-check
junit-xml
motion-master-bindings
matplotlib
numpy
numpydoc
pathlib
pymysql
requests
sphinxcontrib-plantuml
sphinxcontrib-fulltoc
sphinxcontrib-needs
sphinx_rtd_theme
sphinx-test-reports
argparse
psutil
scipy
ea-psu-controller
control
